@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 8px 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button-primary{
  background-color: #756157;
}

.button-secondary {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.button-active {
  background-color: #7db54f;
  padding: 8px 18px;
}

.button-transparent {
  background-color: transparent;
}

html {
  background-color: #f2f2f2;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.navigation {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navigation-logo img{
  display: block;
  margin-bottom: -4px;
}

.navigation-list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 450px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
}

.navigation-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  align-self: center;
  padding: 20px 16px;
}

.navigation-user-list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 140px;
  display: flex;
  justify-content: end;
  margin-left: auto;
}

.navigation-user-link {
  padding: 20px 12px;
}

.navigation-user-button {
  margin-left: 20px;
}

.favorite {
  position: relative;
}

.user-counter {
  position: absolute;
  bottom: 32px;
  left: 26px;
  width: 20px;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  text-decoration-line: underline;
  text-decoration-color: #756157;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.hero{
  width: 100%;
  height: 485px;
  background-image: url(../images/svg/divider.svg), url(../images/hero-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #82b3d3;
  padding-top: 51px;
}

.hero-image{
  display: block;
  margin: 0 auto;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  padding-top: 69px;
  padding-bottom: 25px;
}

.advantages-text{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 69px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-item img {
  display: block;
}

.advantages-item h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item p {
  text-align: center;
}

.advantages-item-image{
  display: flex;
  background-color: #82b3d3;
}

.advantages-item-image h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
   color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-image p {
  text-align: center;
  color: #ffffff;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.advertising-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advertising-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advertising-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 96px;
}

.advertising-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 81px 85px;
  background-color: #83B3D31F;
}

.advertising-item:nth-child(2) {
  background-color: #FFFFFF;
}

.advertising-item object {
  display: block;
  margin: 0 auto;
}

.advertising-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advertising-item p {
  text-align: center;
  margin: 0;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.search p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-bottom: 96px;
}

.subscription {
  width: 100%;
  height: 415px;
  background-image: url("../images/subscribe-background.jpg");
  background-color: #82b3d3;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscription-wrapper {
 padding-top: 96px;
}

.subscription h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subscription p {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  text-align: center;
  margin: 0;
}

.field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 145px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.social-item {
  width: 48px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-link {
  font-size: 40px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/*catalog*/
.catalog-filter-wrapper {
  width: 1200px;
  height: 412px;
  padding: 35px 70px;
  box-sizing: border-box;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
  background-position: cover;
  background-size: 100% auto;
  margin-bottom: 50px;
}

.catalog-filter form {
  display: flex;
}

.header-inner h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: flex;
}

.link-hotel {
  margin-left: 28px;
}

.link-hotel {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  margin-left: 28px;
}

.link-hotel::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 20px;
  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  left: -18px;
}

.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.infrastrukture {
  margin-right: 70px;
}

.type-housing {
  margin-right: 140px;
}

.price {
  margin-right: 70px;
}


.group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin-bottom: 32px;
}

.group-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.group-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input-text{
  line-height: 23px;
  color: #ffffff;
}

input[type= "checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

input[type= "checkbox"]:checked {
  background-image: url("../images/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type= "radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
}

input[type= "radio"]:checked {
  background-image: url("../images/svg/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type=range] {
  height: 4px;
  appearance: none;
}

/*webkit*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #FFFFFF;
  border: none;
  margin-top: -8px
}

input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  border: none;
  border-radius: 0;
  background: #969696;
  box-shadow: none;
}

.cards-sorting {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: auto;
}

.sorting {
  width: 292px;
  height: 49px;
}

.cards-view-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  margin-left: 70px;
}

.cards-view-link {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-card{
  border: 2px solid #000000;
}

.cards-view-item img {
  display: block;
}

.cards-list {
  padding: 0;
  list-style: none;
  width: 1060px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.cards-list::after {
  content: "";
  display: block;
  width: 1060px;
  height: 1px;
  background-color: #e6e6e6;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cards-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 28px 21px 36px 37px;
  column-gap: 20px;
  row-gap: 16px;
  width: 340px;
  min-height: 438px;
  justify-content: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}

.cards-item img {
  grid-column: span 2;
  display: block;
}

.cards-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  grid-column: span 2;
  align-items: center;
}

.cards-item-price {
  text-align: right;
}

.cards-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  margin: 0;
  padding: 9px 22px;
  background-color: #f2f2f2;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 70px;
  margin-bottom: 60px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.pagination-link-primary {
  color: #000000;
  background-color: #f2f2f2;
}

.link-more{
  color: #000000;
  background-color: transparent;
}

.subscription-inner {
  background-image: none;
  background-color: #ffffff;
}

.subscription-inner h2 {
  color: #000000;
}

.subscription-inner p {
  color: #333333;
}
